{% extends 'admin/master.html' %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
<div id="error" class="alert alert-danger alert-dismissable" hidden=true>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Error!</strong> <span id="error_text">Something goes wrong.</span>
</div>
    <form id="upload_file_form">
        <div class="form-group add_match">
        <h2>Add match:</h2>
        <input type="file" id="file_input" name="file">
        <p class="help-block">
        <button type="button" id="upload_file_btn" data-loading-text="Loading..."
        class="btn btn-xs btn-default">
            Upload
        </button>
        It should be .dem file</p>
        </div>
    </form>
<script>
$(document).ready(function() {
    var formData;
    function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object
        formData = new FormData();
        formData.append('file', files[0]);
    }
    $('#file_input').change(handleFileSelect);

    $('#upload_file_btn').click(function () {
        var btn = $(this);
        btn.button('loading');
        $.ajax({
            type: 'POST',
            url: '/api/matches/',
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            async: true,
            success: function(data) {
                btn.button('reset');
                location.reload(false);
            },
            error: function(error_data) {
                $('#error').show();
                btn.button('reset')
            }
        })
    });
});
</script>
{% endblock %}
