{% extends 'redesign/base.html' %}

{% block title %}Records{% endblock %}

{% block header %}
    {% include 'redesign/_blocks/season_header.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">In match player records</div>
                <div class="card-body">
                    <div class="card-text">
                        <table class="table table-sm table-borderless table-hover in_match_records_table">
                            <tbody>
                            {% for record in in_match_records %}
                                <tr>
                                    <td>{{ record[1] }}</td>
                                    <td><a href="{{ url_for('players.overview', steam_id=record[2].steam_id) }}"
                                           class="link_alt">{{ record[2].nickname }}</a></td>
                                    <td><img class="steam_img"
                                             src=http://cdn.dota2.com/apps/dota2/images/heroes/{{ record[3] }}_lg.png>
                                    </td>
                                    <td>{{ record[4] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">In-Season players records</div>
                <div class="card-body">
                    <div class="card-text">
                        <table class="table table-sm table-hover table-borderless in_season_records_table">
                            <tbody>
                            {% for record in in_season_player_records %}
                                <tr>
                                    <td>{{ record[0] }}</td>
                                    <td>
                                        <a href="{{ url_for('players.overview', steam_id=record[1].steam_id) }}">
                                            {{ record[1].nickname }}
                                        </a>
                                    </td>
                                    <td>{{ record[2] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">In-Season averages</div>
                <div class="card-body">
                    <div class="card-text">
                        <table class="table table-sm table-borderless table-hover">
                            <tbody>
                            {% if avg_match_duration %}
                                <tr>
                                    <td>Average match duration</td>
                                    <td>
                                        {{ avg_match_duration // 60 }}:{{ (shortest_match.duration % 60) }}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if side_winrates %}
                                <tr>
                                    <td>Radiant Winrate</td>
                                    <td>
                                        {{ side_winrates[0] }}%
                                    </td>
                                </tr>
                                <tr>
                                    <td>Dire Winrate</td>
                                    <td>
                                        {{ side_winrates[1] }}%
                                    </td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">Most Powerful Duo</div>
                <div class="card-body">
                    <div class="card-text">
                        <table class="table table-sm table-borderless table-hover">
                            <tbody>
                            {% for duo in powerful_duos %}
                                <tr>
                                    <td>{{ duo[0] }}</td>
                                    <td>{{ duo[1] }}</td>
                                    <td>{% if duo[2] > 0 %}+{% endif %}{{ duo[2] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">Most Useless Duo</div>
                <div class="card-body">
                    <div class="card-text">
                        <table class="table table-sm table-borderless table-hover">
                            <tbody>
                            {% for duo in powerless_duos %}
                                <tr>
                                    <td>{{ duo[0] }}</td>
                                    <td>{{ duo[1] }}</td>
                                    <td>{% if duo[2] > 0 %}+{% endif %}{{ duo[2] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">In-Season longest match</div>
                <div class="card-body">
                    <div class="card-text">
                        {% if longest_match %}
                            <table class="table table-sm table-borderless table-hover">
                                <thead>
                                <tr>
                                    <th>Match id</th>
                                    <th>Date</th>
                                    <th>Duration</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr match_id="{{ longest_match.id }}">
                                    <td>{{ longest_match.id }}</td>
                                    <td class="start_time">{{ longest_match.start_time }}</td>
                                    <td>
                                        {{ longest_match.duration//60 }}:{{ longest_match.duration % 60 }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">In-Season shortest match</div>
                <div class="card-body">
                    <div class="card-text">
                        {% if shortest_match %}
                            <table class="table table-sm table-borderless table-hover">
                                <thead>
                                <tr>
                                    <th>Match id</th>
                                    <th>Date</th>
                                    <th>Duration</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr match_id="{{ shortest_match.id }}">
                                    <td>{{ shortest_match.id }}</td>
                                    <td class="start_time">{{ shortest_match.start_time }}</td>
                                    <td>
                                        {{ shortest_match.duration//60 }}:{{ shortest_match.duration % 60 }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

