{% extends 'base.html' %}

{% block head %}
    {{ macro.render_site_title('MATCHES') }}
{% endblock %}

{% block body %}
    <div class="container">
        {{ macro.render_navbar() }}
        <div class="row">
            {% for m in matches.items %}
            <div class="matches_table row">
                <div class="col-md-4 table-responsive">
                    <table class="table">
                        <caption class="radiant_text_color">
                            Radiant
                        </caption>
                        <thead>
                            <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for p in m.players_stats[:5] %}
                            <tr>
                                <td>
                                    {% if p.season_stats.player.avatar_medium %}
                                        <img class="steam_img" src={{ p.season_stats.player.avatar_medium }}>
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="link_alt" href="{{ url_for('players.overview', steam_id=p.season_stats.steam_id) }}">
                                    {{ p.season_stats.player.nickname }}
                                    </a>
                                </td>
                                <td>
                                    <img class="steam_img"
                                    src=http://cdn.dota2.com/apps/dota2/images/heroes/{{ p.hero }}_lg.png>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4 table-responsive text-center">
                        <caption>
                        </caption>
                        <table class="table">
                        <thead>
                            <tr><th></th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="start_time">{{ m.start_time }}</td>
                        </tr>
                        <tr>
                            <td>Season #{{ m.season.number }}</td>
                        </tr>
                        <tr>
                            <td>{{ m.game_mode_string() }}</td>
                        </tr>
                        <tr>
                            <td>duration: {{ m.duration_string() }}</td>
                        </tr>
                        <tr>
                            <td>{% set winner=m.winner_string() %}
                                winner: <span class="{% if winner=="Dire"%} dire_text_color {% else %} radiant_text_color {% endif %}">
                                {{ winner }}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="{{ url_for('matches.match', match_id=m.id) }}" style="padding-right: 20px">
                        <button type="button" class="btn btn-success">View Match</button>
                    </a>
                </div>
                <div class="col-md-4 table-responsive">
                    <table class="table">
                        <caption class="dire_text_color" style="text-align: left; font-weight: bold; font-size: 16pt">
                            Dire
                        </caption>
                        <thead>
                            <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for p in m.players_stats[5:] %}
                            <tr>
                                <td>
                                    <img class="steam_img"
                                    src=http://cdn.dota2.com/apps/dota2/images/heroes/{{ p.hero }}_lg.png>
                                </td>
                                <td>
                                    {% if p.season_stats.player.avatar_medium %}
                                        <img class="steam_img" src={{ p.season_stats.player.avatar_medium }}>
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="link_alt" href="{{ url_for('players.overview', steam_id=p.season_stats.steam_id) }}">
                                    {{ p.season_stats.player.nickname }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}

            {{ macro.render_pagination(matches, 'matches.matches_preview')}}
        </div>
    </div>
{% endblock %}

{% block script %}
    $(document).ready(function() {
        $('.start_time').each(function() {
            $(this).html(moment(moment.unix($(this).html())).format('MMMM Do YYYY, H:mm'));
        });
    });
{% endblock %}
