{% extends '/base.html' %}

{% block head %}
    {{ macro.render_site_title('MATCHES') }}
{% endblock %}

{% block content %}
    {% for m in matches.items %}
        <div class="card">
            <div class="card-header">
                <a href="{{ url_for('matches.match', match_id=m.id) }}" style="padding-right: 20px">
                    Match {{ m.id }}&nbsp;<i class="fas fa-link"></i>
                </a>
            </div>
            <div class="card-body">
                <div class="matches_table row">
                    <div class="col-4">
                        <table class="table table-sm table-borderless">
                            <caption class="radiant_text_color"
                                     style="text-align: left; font-weight: bold; font-size: 16pt">
                                Radiant
                            </caption>
                            <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in m.players_stats[:5] %}
                                <tr>
                                    <td>
                                        {% if p.season_stats.player.avatar_medium %}
                                            <img class="steam_img" src={{ p.season_stats.player.avatar_medium }}>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="link_alt"
                                           href="{{ url_for('players.overview', steam_id=p.season_stats.steam_id) }}">
                                            {{ p.season_stats.player.nickname }}
                                        </a>
                                    </td>
                                    <td>
                                        <img class="steam_img"
                                             src={{ config.SITE_PROTOCOL }}://cdn.steamstatic.com/apps/dota2/images/dota_react/heroes/{{ p.hero }}.png>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4 text-center">
                        <table class="table table-sm table-borderless">
                            <thead>
                            <tr>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="start_time">{{ m.start_time }}</td>
                            </tr>
                            <tr>
                                <td>Season #{{ m.season.number }}</td>
                            </tr>
                            <tr>
                                <td>{{ m.game_mode_string() }}</td>
                            </tr>
                            <tr>
                                <td>duration: {{ format_duration(m.duration) }}</td>
                            </tr>
                            <tr>
                                <td>
                                    winner:
                                    <span class="
                                    {% if m.radiant_win %}
                                        radiant_text_color
                                    {% else %}
                                        dire_text_color
                                    {% endif %}">
                                        {{ m.winner_string() }}
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4">
                        <table class="table table-sm table-borderless">
                            <caption class="dire_text_color"
                                     style="text-align: left; font-weight: bold; font-size: 16pt">
                                Dire
                            </caption>
                            <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in m.players_stats[5:] %}
                                <tr>
                                    <td>
                                        <img class="steam_img"
                                             src={{ config.SITE_PROTOCOL }}://cdn.steamstatic.com/apps/dota2/images/dota_react/heroes/{{ p.hero }}.png>
                                    </td>
                                    <td>
                                        {% if p.season_stats.player.avatar_medium %}
                                            <img class="steam_img" src={{ p.season_stats.player.avatar_medium }}>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="link_alt"
                                           href="{{ url_for('players.overview', steam_id=p.season_stats.steam_id) }}">
                                            {{ p.season_stats.player.nickname }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {{ macro.render_pagination(matches, 'matches.matches_preview')}}

{% endblock %}

{% block script %}
    <script>
    $(document).ready(function() {
    $('.start_time').each(function() {
        $(this).html(
            moment(moment.unix($(this).html())).format('MMMM Do YYYY, H:mm')
        );
    });
});
</script>
{% endblock %}
