from os import path

class BaseConfig(object):
    DEBUG = True
    PROPAGATE_EXCEPTIONS = False
    TRAP_HTTP_EXCEPTIONS = True
    PRESERVE_CONTEXT_ON_EXCEPTION = False

    SQLALCHEMY_DATABASE_URI = 'postgresql://genksta:1@localhost/gleague'
    STEAM_API_KEY = 'YOUR STEAM API KEY'
    SECRET_KEY = 'YOUR SECRET KEY'
    LOGFILE = '/tmp/gleague_log.txt'
    ADMINS_STEAM_ID = []
    MATCH_BASE_PTS_DIFF = 10


class gleague_api(BaseConfig):
    pass


class gleague_frontend(BaseConfig):
    TEMPLATE_FOLDER = path.join(path.dirname(__file__), 'templates')
    STATIC_FOLDER = path.join(path.dirname(__file__), 'static')

    SEASON_CALIBRATING_MATCHES_NUM = 3
    HISTORY_MATCHES_PER_PAGE = 4
    TOP_PLAYERS_PER_PAGE = 22
    GOOGLE_SITE_VERIFICATION_CODE = 'YOUR GOGLE SITE VERIFICATION CODE'
    SITE_NAME = 'GENKSTAleague'
    SITE_ADDRESS = 'YOUR SITE ADDRESS'


class gleague_api_tests(gleague_api):
    SQLALCHEMY_DATABASE_URI = 'sqlite://'
    ADMINS_STEAM_ID = [123456789, ]
