{% extends 'redesign/base.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3>
                {% if match.radiant_win == 1 %}
                    Radiant victory!
                {% else %}
                    Dire victory!
                {% endif %}
            </h3>
        </div>

        <div class="card-body">
            <table class="table table-sm table-borderless">
                <thead>
                <tr>
                    <td>Match id</td>
                    <td>Season</td>
                    <td>Game Mode</td>
                    <td>Duration</td>
                    <td>Date</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><b>{{ match.id }}</b></td>
                    <td><b>{{ match.season.number }}</b></td>
                    <td><b>{{ match.game_mode_string() }}</b></td>
                    <td><b>{{ match.duration_string() }}</b></td>
                    <td><b id="start_time">{{ match.start_time }}</b></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Players</div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    {% if not g.user %}
                        <div id="warning" class="alert alert-warning alert-dismissable text-center">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <a href="{{ url_for('auth.login') }}"><img stlyle="height: 50px;"
                                                                       src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png"/></a>
                            to rate players if you played in this match.
                        </div>
                    {% endif %}
                    <div class="">
                        <table class="table table-sm text-center">
                            <thead>
                            <tr class="header_table">
                                <th></th>
                                <th style="text-align:left">Player</th>
                                <th style="text-align:left">Hero</th>
                                <th data-toggle="tooltip" data-placement="top" title="Level">L</th>
                                <th data-toggle="tooltip" data-placement="top" title="Kills">K</th>
                                <th data-toggle="tooltip" data-placement="top" title="Deaths">D</th>
                                <th data-toggle="tooltip" data-placement="top" title="Assists">A</th>
                                <th data-toggle="tooltip" data-placement="top" title="Last Hits">LH</th>
                                <th data-toggle="tooltip" data-placement="top" title="Hero Damage">HD</th>
                                <th data-toggle="tooltip" data-placement="top" title="Tower Damage">TD</th>
                                <th data-toggle="tooltip" data-placement="top" title="Damage Taken">DT</th>
                                <th data-toggle="tooltip" data-placement="top" title="Gold Per Minute">GPM</th>
                                <th data-toggle="tooltip" data-placement="top" title="Experience Per Minute">XPM</th>
                                <th>PTS</th>
                                {% if match.players_stats[0].player_match_items %}
                                    <th>Items</th>
                                {% endif %}
                                <th>Rating</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for s in match.players_stats %}
                                {% if s.player_slot < 5 %}
                                    <tr class="radiant_table">
                                        {% else %}
                                    <tr class="dire_table">
                                {% endif %}
                            <td>
                                {% if s.season_stats.player.avatar_medium %}
                                    <img class="steam_img" src={{ s.season_stats.player.avatar_medium }}>
                                {% endif %}
                            </td>
                            <td style="text-align:left">
                                {% if s.season_stats.player.nickname %}
                                    <a class="link" href="{{ url_for('players.overview',
                                            steam_id=s.season_stats.player.steam_id) }}">
                                        {{ s.season_stats.player.nickname }}</a>
                                {% else %}
                                    <span style="color: gray;">Anonymous</span>
                                {% endif %}
                            </td>
                            <td style="text-align:left" class="avatar_table">
                                <img class="steam_img"
                                     src=http://cdn.dota2.com/apps/dota2/images/heroes/{{ s.hero }}_lg.png>
                            </td>
                            <td>{{ s.level }}</td>
                            <td>{{ s.kills }}</td>
                            <td>{{ s.deaths }}</td>
                            <td>{{ s.assists }}</td>
                            <td>{{ s.last_hits }}</td>
                            <td>{{ s.hero_damage }}</td>
                            <td>{{ s.tower_damage }}</td>
                            <td>{% if s.damage_taken %} {{ s.damage_taken }} {% else %} - {% endif %}</td>
                            <td>{% if s.gold_per_min %} {{ s.gold_per_min }} {% else %} - {% endif %}</td>
                            <td>{% if s.xp_per_min %} {{ s.xp_per_min }} {% else %} - {% endif %}</td>
                            <td>
                                {{ s.pts }}
                                {% if s.pts_diff > 0 %}<span style="color:green">+{% else %}
                                    <span style="color:red">{% endif %}{{ s.pts_diff }}</span>
                            </td>
                            {% if s.player_match_items %}
                                <td>
                                    {% for item in s.player_match_items %}
                                        <img class="steam_img" src="{{ item.image_url }}"/>
                                    {% endfor %}
                                </td>
                            {% endif %}
                            <td style="cursor:default">
                                <div class="rating" match_player_stats_id="{{ s.id }}">
                                </div>
                            </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="application/javascript">
        $(document).ready(function () {
            function update_rating() {
                var url = '/api/matches/{{ match.id }}/ratings/';

                $.getJSON(url, function (data) {
                    $('.rating').each(function () {
                        var d = data['ratings'][$(this).attr('match_player_stats_id')];
                        console.log(d['allowed_rate']);
                        $(this).raty({
                            readOnly: !d['allowed_rate'],
                            path: '/static/lib/bower_components/raty/lib/img', score: d['avg_rating'],
                            click: function (score, evt) {
                                $.post('/api/matches/{{ match.id }}/ratings/' + $(this).parent().find('.rating').attr('match_player_stats_id')
                                    + '?rating=' + score);
                                update_rating();
                            }
                        });
                    });
                });
            }

            update_rating();
            $('#start_time').html(moment(moment.unix("{{ match.start_time }}")).format('MMMM Do YYYY, HH:mm'));
        });
    </script>
{% endblock %}
