{% extends 'redesign/base.html' %}

{% block title %}Matches{% endblock %}

{% block content %}
    {% for m in matches.items * 10 %}
        <div class="card">
            <div class="card-header">
                <a href="{{ url_for('matches.match', match_id=m.id) }}" style="padding-right: 20px">
                    Match {{ m.id }}
                </a>
            </div>
            <div class="card-body">
                <div class="matches_table row">
                    <div class="col-4">
                        <table class="table table-sm table-borderless">
                            <caption class="radiant_text_color"
                                     style="text-align: left; font-weight: bold; font-size: 16pt">
                                Radiant
                            </caption>
                            <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in m.players_stats[:5] %}
                                <tr>
                                    <td>
                                        {% if p.season_stats.player.avatar_medium %}
                                            <img class="steam_img" src={{ p.season_stats.player.avatar_medium }}>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="link_alt"
                                           href="{{ url_for('players.overview', steam_id=p.season_stats.steam_id) }}">
                                            {{ p.season_stats.player.nickname }}
                                        </a>
                                    </td>
                                    <td>
                                        <img class="steam_img"
                                             src=http://cdn.dota2.com/apps/dota2/images/heroes/{{ p.hero }}_lg.png>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4 text-center">
                        <table class="table table-sm table-borderless">
                            <thead>
                            <tr>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="start_time">{{ m.start_time }}</td>
                            </tr>
                            <tr>
                                <td>Season #{{ m.season.number }}</td>
                            </tr>
                            <tr>
                                <td>{{ m.game_mode_string() }}</td>
                            </tr>
                            <tr>
                                <td>duration: {{ m.duration_string() }}</td>
                            </tr>
                            <tr>
                                <td>{% set winner=m.winner_string() %}
                                    winner: <span
                                        class="{% if winner=="Dire" %} dire_text_color {% else %} radiant_text_color {% endif %}">
                                {{ winner }}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4">
                        <table class="table table-sm table-borderless">
                            <caption class="dire_text_color"
                                     style="text-align: left; font-weight: bold; font-size: 16pt">
                                Dire
                            </caption>
                            <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in m.players_stats[5:] %}
                                <tr>
                                    <td>
                                        <img class="steam_img"
                                             src=http://cdn.dota2.com/apps/dota2/images/heroes/{{ p.hero }}_lg.png>
                                    </td>
                                    <td>
                                        {% if p.season_stats.player.avatar_medium %}
                                            <img class="steam_img" src={{ p.season_stats.player.avatar_medium }}>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="link_alt"
                                           href="{{ url_for('players.overview', steam_id=p.season_stats.steam_id) }}">
                                            {{ p.season_stats.player.nickname }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
