{% extends '/base.html' %}

{% block head %}
    <meta name="description" content="{{ SITE_NAME }}, Dota2 season's heroes">
    {{ macro.render_season_site_title("HEROES") }}
{% endblock %}

{% block header %}
    {% include '/_blocks/season_header.html' %}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Heroes</h5>
            <div class="card-text">
                <table class="table table-sm table-hover text-center">
                   <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                            <a class="link_alt" href="{{ url_for('seasons.heroes', sort='hero',
                            season_number=season_number, desc=macro.render_desc(sort, desc, 'hero', 'no')) }}">
                                Hero
                                {{ macro.render_sort_icon(sort, desc, 'hero') }}
                            </a>
                        </th>
                        <th>
                            <a class="link_alt" href="{{ url_for('seasons.heroes', sort='pick_count',
                            season_number=season_number, desc=macro.render_desc(sort, desc, 'pick_count')) }}">Picked
                                {{ macro.render_sort_icon(sort, desc, 'pick_count') }}
                            </a>
                        </th>
                        <th>
                            <a class="link_alt" href="{{ url_for('seasons.heroes', sort='ban_count',
                            season_number=season_number, desc=macro.render_desc(sort, desc, 'ban_count')) }}">Banned
                                {{ macro.render_sort_icon(sort, desc, 'ban_count') }}
                            </a>
                        </th>
                        <th>
                            <a class="link_alt" href="{{ url_for('seasons.heroes', sort='winrate',
                            season_number=season_number, desc=macro.render_desc(sort, desc, 'winrate')) }}">Winrate
                                {{ macro.render_sort_icon(sort, desc, 'winrate') }}
                            </a>
                        </th>
                        <th>
                            <a class="link_alt" href="{{ url_for('seasons.heroes', sort='win_loss',
                            season_number=season_number, desc=macro.render_desc(sort, desc, 'win_loss')) }}">W-L
                                {{ macro.render_sort_icon(sort, desc, 'win_loss') }}
                            </a>
                        </th>
                        <th>
                            <a class="link_alt" href="{{ url_for('seasons.heroes', sort='pts_diff',
                            season_number=season_number, desc=macro.render_desc(sort, desc, 'pts_diff')) }}">PTS diff
                                {{ macro.render_sort_icon(sort, desc, 'pts_diff') }}
                            </a>
                        </th>
                        <th>
                            <a class="link_alt" href="{{ url_for('seasons.heroes', sort='kda',
                            season_number=season_number, desc=macro.render_desc(sort, desc, 'kda')) }}">KDA
                                {{ macro.render_sort_icon(sort, desc, 'kda') }}
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for h in in_season_heroes %}
                    <tr>
                        <td>
                            <img class="steam_img"
                        src={{ config.SITE_PROTOCOL }}://cdn.steamstatic.com/apps/dota2/images/dota_react/heroes/{{ h.hero_name }}.png>&nbsp;
                        </td>
                        <td>
                            {{ h.hero_human_readable }}
                        </td>
                        <td>{{ h.pick_count }}</td>
                        <td>{{ h.ban_count }}</td>
                        <td>{{ '%i' % h.winrate }}%</td>
                        <td>{{ macro.render_win_loss(h.win_loss) }}</td>
                        <td>{{ macro.render_pts_diff(h.pts_diff) }}</td>
                        <td>{{ '%0.2f' % h.kda }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
