{% extends '/base.html' %}

{% block head %}
    <meta name="description" content="{{ SITE_NAME }}, Dota2 season's heroes">
    {{ macro.render_season_site_title("HEROES") }}
{% endblock %}

{% block header %}
    {% include '/_blocks/season_header.html' %}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Heroes</h5>
            <div class="card-text">
                <table class="table table-sm table-hover text-center">
                   <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                            <a class="link_alt" href="{{ url_for('seasons.heroes', sort='hero',
                            desc='no', season_number=season_number) }}">
                                Hero
                                {% if sort == 'hero' %}
                                    &nbsp;<i class="fas fa-sort-amount-down"></i>
                                {% endif %}
                            </a>
                        </th>
                        <th>
                            <a class="link_alt" href="{{ url_for('seasons.heroes', sort='pick_count',
                            desc='yes', season_number=season_number) }}">Picked
                            {% if not sort or sort == 'pick_count' %}
                                &nbsp;<i class="fas fa-sort-amount-down"></i>
                            {% endif %}
                            </a>
                        </th>
                        <th>
                            <a class="link_alt" href="{{ url_for('seasons.heroes', sort='ban_count',
                            desc='yes', season_number=season_number) }}">Banned
                            {% if not sort or sort == 'ban_count' %}
                                &nbsp;<i class="fas fa-sort-amount-down"></i>
                            {% endif %}
                            </a>
                        </th>
                        <th>
                            <a class="link_alt" href="{{ url_for('seasons.heroes', sort='winrate',
                            desc='yes', season_number=season_number) }}">Winrate
                            {% if sort == 'winrate' %}
                                &nbsp;<i class="fas fa-sort-amount-down"></i>
                            {% endif %}
                            </a>
                        </th>
                        <th>
                            <a class="link_alt" href="{{ url_for('seasons.heroes', sort='win_loss',
                            desc='yes', season_number=season_number) }}">W-L
                            {% if sort == 'win_loss' %}
                                &nbsp;<i class="fas fa-sort-amount-down"></i>
                            {% endif %}
                            </a>
                        </th>
                        <th>
                            <a class="link_alt" href="{{ url_for('seasons.heroes', sort='pts_diff',
                            desc='yes', season_number=season_number) }}">PTS diff
                            {% if sort == 'pts_diff' %}
                                &nbsp;<i class="fas fa-sort-amount-down"></i>
                            {% endif %}
                            </a>
                        </th>
                        <th>
                            <a class="link_alt" href="{{ url_for('seasons.heroes', sort='kda',
                            desc='yes', season_number=season_number) }}">KDA
                            {% if sort == 'kda' %}
                                &nbsp;<i class="fas fa-sort-amount-down"></i>
                            {% endif %}
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for h in in_season_heroes %}
                    <tr>
                        <td>
                            <img class="steam_img"
                        src=http://cdn.dota2.com/apps/dota2/images/heroes/{{ h.hero_name }}_lg.png>&nbsp;
                        </td>
                        <td>
                            {{ h.hero_human_readable }}
                        </td>
                        <td>{{ h.pick_count }}</td>
                        <td>{{ h.ban_count }}</td>
                        <td>{{ '%i' % h.winrate }}%</td>
                        <td>{{ macro.render_win_loss(h.win_loss) }}</td>
                        <td>{{ macro.render_pts_diff(h.pts_diff) }}</td>
                        <td>{{ '%0.2f' % h.kda }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
