{% extends '/base.html' %}

{% block head %}
    <meta name="description" content="{{ SITE_NAME }}, Dota2 season's records">
    {{ macro.render_season_site_title("RECORDS") }}
{% endblock %}

{% block header %}
    {% include '/_blocks/season_header.html' %}
{% endblock %}

{% macro render_heroes(list_) %}
<div class="card-body">
    <div class="card-text">
        <table class="table table-sm table-borderless table-hover">
            <thead>
                <tr>
                    <th>Hero</th>
                    <th>Total Picked</th>
                    <th>Total Banned</th>
                    <th>Winrate</th>
                    <th>W-L</th>
                    <th>PTS Diff</th>
                </tr>
            </thead>
            <tbody>
                {% for hero in list_ %}
                <tr>
                    <td><img class="steam_img"
                            src=http://cdn.dota2.com/apps/dota2/images/heroes/{{ hero.hero_name }}_lg.png>
                    </td>
                    <td>{{ hero.pick_count }}</td>
                    <td>{{ hero.ban_count }}</td>
                    <td>{{ hero.winrate }}%</td>
                    <td>{{ macro.render_win_loss(hero.win_loss) }}</td>
                    <td>{{ macro.render_pts_diff(hero.pts_diff) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro render_drafters(list_) %}
<div class="card-body">
    <div class="card-text">
        <table class="table table-sm table-borderless table-hover">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Matches</th>
                    <th>Winrate</th>
                    <th>W-L</th>
                    <th>PTS diff</th>
                </tr>
            </thead>
            <tbody>
                {% for player in list_ %}
                <tr>
                    <td>
                        <a href="{{ url_for('players.overview', steam_id=player.steam_id) }}">
                            {{ player.nickname }}
                        </a>
                    </td>
                    <td>{{ player.played }}</td>
                    <td>{{ player.winrate }}%</td>
                    <td>{{ macro.render_win_loss(player.win_loss) }}</td>
                    <td>{{ macro.render_pts_diff(player.pts_diff) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro render_match(match) %}
<div class="card-body">
    <div class="card-text">
        <table class="table table-sm table-borderless table-hover in_match_records_table">
            <thead>
                <tr>
                    <th>Match id</th>
                    <th>Date</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr match_id="{{ match.id }}" class="clickable">
                    <td>{{ match.id }}</td>
                    <td class="start_time">{{ match.start_time }}</td>
                    <td>
                        {{ format_duration(match.duration) }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro render_most_powerful_role(role) %}
<div class="card-body">
    <div class="card-text">
        <table class="table table-sm table-borderless table-hover">
            <tbody>
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Matches</th>
                        <th>Winrate</th>
                        <th>W-L</th>
                        <th>PTS Diff</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in role %}
                    <tr>
                        <td>
                            <a href="{{ url_for('players.overview', steam_id=player.steam_id) }}">
                                {{ player.nickname }}
                            </a>
                        </td>
                        <td>{{ player.played }}</td>
                        <td>{{ player.winrate }}%</td>
                        <td>{{ macro.render_win_loss(player.win_loss) }}</td>
                        <td>{{ macro.render_pts_diff(player.pts_diff) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% macro render_double_downs(dds) %}
<div class="card-body">
    <div class="card-text">
        <table class="table table-sm table-borderless table-hover">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>DDs</th>
                    <th>DD Winrate</th>
                    <th>DD per Match</th>
                </tr>
            </thead>
            <tbody>
                {% for dd in dds %}
                {% set total_dd = dd.double_down_losses  + dd.double_down_wins %}
                <tr>
                    <td>
                        <a href="{{ url_for('players.overview', steam_id=dd.steam_id) }}">
                            {{ dd.nickname }}
                        </a>
                    </td>
                    <td>{{ total_dd }}</td>
                    <td>{{ '%0.0f' % (100 * dd.double_down_wins / (total_dd or 1)) }}%</td>
                    <td>{{ '%0.0f' % (100 * (total_dd) / (dd.played or 1)) }}%</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endmacro %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">In-Match Player Records</div>
            <div class="card-body">
                <div class="card-text">
                    <table class="table table-sm table-borderless table-hover in_match_records_table">
                        <tbody>
                            {% for record in in_match_records %}
                            <tr match_id="{{ record.match_id }}" class="clickable">
                                <td>{{ record.record_name }}</td>
                                <td><a href="{{ url_for('players.overview', steam_id=record.player.steam_id) }}"
                                        class="link_alt">{{ record.player.nickname }}</a></td>
                                <td><img class="steam_img"
                                        src=http://cdn.dota2.com/apps/dota2/images/heroes/{{ record.hero }}_lg.png>
                                        </td> <td>{{ record.value }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    {% if most_picked_heroes %}
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <a href="{{ url_for('seasons.heroes', season_number=season_number, sort='pick_count', is_desc=True) }}">Most Picked Heroes</a></div>
            {{ render_heroes(most_picked_heroes) }}
        </div>
    </div>
    {% endif %}
    {% if most_banned_heroes %}
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <a href="{{ url_for('seasons.heroes', season_number=season_number, sort='ban_count', is_desc=True) }}">Most Banned Heroes</a></div>
            {{ render_heroes(most_banned_heroes) }}
        </div>
    </div>
    {% endif %}

    <div class="col-6">
        <div class="card">
            <div class="card-header">In-Season Players Records</div>
            <div class="card-body">
                <div class="card-text">
                    <table class="table table-sm table-hover table-borderless in_season_records_table">
                        <tbody>
                            {% for record in in_season_player_records %}
                            <tr>
                                <td>{{ record.title }}</td>
                                <td>
                                    <a href="{{ url_for('players.overview', steam_id=record.player.steam_id) }}">
                                        {{ record.player.nickname }}
                                    </a>
                                </td>
                                <td>{{ record.value }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">In-Season Averages</div>
            <div class="card-body">
                <div class="card-text">
                    <table class="table table-sm table-borderless table-hover">
                        <tbody>
                            {% if avg_match_duration %}
                            <tr>
                                <td>Average match duration</td>
                                <td>
                                    {{ format_duration(avg_match_duration) }}
                                </td>
                            </tr>
                            {% endif %}
                            {% if side_winrates %}
                            <tr>
                                <td>Radiant Winrate</td>
                                <td>
                                    {{ side_winrates.radiant }}%
                                </td>
                            </tr>
                            <tr>
                                <td>Dire Winrate</td>
                                <td>
                                    {{ side_winrates.dire }}%
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">Most Powerful Duo</div>
            <div class="card-body">
                <div class="card-text">
                    <table class="table table-sm table-borderless table-hover">
                        <thead>
                            <tr>
                                <th>Players</th>
                                <th></th>
                                <th>W-L</th>
                                <th>PTS Diff</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for duo in powerful_duos %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('players.overview', steam_id=duo.player.steam_id) }}">
                                        {{ duo.player.nickname }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('players.overview', steam_id=duo.player_2.steam_id) }}">
                                        {{ duo.player_2.nickname }}
                                    </a>
                                </td>
                                <td>{{ macro.render_win_loss(duo.win_loss) }}</td>
                                <td>{{ macro.render_pts_diff(duo.pts_diff) }}</td>
                                <td>{{ macro.render_pts_diff(duo.pts_diff_2) }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">Most Powerless Duo</div>
            <div class="card-body">
                <div class="card-text">
                    <table class="table table-sm table-borderless table-hover">
                        <thead>
                            <tr>
                                <th>Players</th>
                                <th></th>
                                <th>W-L</th>
                                <th>PTS Diff</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for duo in powerless_duos %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('players.overview', steam_id=duo.player.steam_id) }}">
                                        {{ duo.player.nickname }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('players.overview', steam_id=duo.player_2.steam_id) }}">
                                        {{ duo.player_2.nickname }}
                                    </a>
                                </td>
                                <td>{{ macro.render_win_loss(duo.win_loss) }}</td>
                                <td>{{ macro.render_pts_diff(duo.pts_diff) }}</td>
                                <td>{{ macro.render_pts_diff(duo.pts_diff_2) }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% if most_powerful_sups %}
    <div class="col-6">
        <div class="card">
            <div class="card-header">Most Powerful Supports</div>
            {{ render_most_powerful_role(most_powerful_sups)}}
        </div>
    </div>
    {% endif %}

    {% if most_powerful_midlaners %}
    <div class="col-6">
        <div class="card">
            <div class="card-header">Most Powerful Midlaners</div>
            {{ render_most_powerful_role(most_powerful_midlaners)}}
        </div>
    </div>
    {% endif %}

    {% if double_down_masters %}
    <div class="col-6">
        <div class="card">
            <div class="card-header">Double Down Masters</div>
            {{ render_double_downs(double_down_masters) }}
        </div>
    </div>
    {% endif %}
    {% if double_down_losers %}
    <div class="col-6">
        <div class="card">
            <div class="card-header">Double Down Losers</div>
            {{ render_double_downs(double_down_losers) }}
        </div>
    </div>
    {% endif %}

    {% if most_successful_drafters %}
    <div class="col-6">
        <div class="card">
            <div class="card-header">Best Drafters</div>
            {{ render_drafters(most_successful_drafters) }}
        </div>
    </div>
    {% endif %}

    {% if least_successful_drafters %}
    <div class="col-6">
        <div class="card">
            <div class="card-header">Worst Drafters</div>
            {{ render_drafters(least_successful_drafters) }}
        </div>
    </div>
    {% endif %}

    {% if longest_match %}
    <div class="col-6">
        <div class="card">
            <div class="card-header">In-Season Longest Match</div>
            {{ render_match(longest_match) }}
        </div>
    </div>
    {% endif %}

    {% if shortest_match %}
    <div class="col-6">
        <div class="card">
            <div class="card-header">In-Season Shortest Match</div>
            {{ render_match(shortest_match) }}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $('.in_match_records_table tbody > tr').each(function () {
            $(this).click(function () {
                window.location.href = '/matches/' + $(this).attr('match_id');
            });
        });
        $('.start_time').each(function () {
            $(this).html(
                moment(moment.unix($(this).html())).format('MMMM Do YYYY, H:mm')
            );
        });
    });
</script>
{% endblock %}
