{% extends '/base.html' %}

{% block head %}
    <meta name="description" content="{{ SITE_NAME }}, Dota2 list of {{ player.nickname }} heroes">
    {{ macro.render_site_title(player.nickname ~ " HEROES") }}
{% endblock %}

{% block header %}
    {% include '/_blocks/player_header.html' %}
{% endblock %}

{% block content %}
    {% include '/_blocks/player_card.html' with context %}

    <div class="card">
        <div class="card-header">Heroes</div>
        <div class="card-body">
            <table class="table table-sm table-hover text-center">
                <thead>
                <tr>
                    <th>
                        <a class="link_alt" href="{{ url_for('players.heroes', steam_id=player.steam_id, sort='hero',
                        desc=macro.render_desc(sort, desc, 'hero', 'no')) }}">Hero
                            {{ macro.render_sort_icon(sort, desc, 'hero') }}
                        </a>
                    </th>
                    <th>
                        <a class="link_alt" href="{{ url_for('players.heroes', steam_id=player.steam_id, sort='played',
                        desc=macro.render_desc(sort, desc, 'played')) }}">Matches
                            {{ macro.render_sort_icon(sort, desc, 'played') }}
                        </a>
                    </th>
                    <th>
                        <a class="link_alt" href="{{ url_for('players.heroes', steam_id=player.steam_id, sort='winrate',
                        desc=macro.render_desc(sort, desc, 'winrate')) }}">Winrate
                            {{ macro.render_sort_icon(sort, desc, 'winrate') }}
                        </a>
                    </th>
                    <th>
                        <a class="link_alt" href="{{ url_for('players.heroes', steam_id=player.steam_id, sort='pts_diff',
                        desc=macro.render_desc(sort, desc, 'pts_diff')) }}">Earned pts
                            {{ macro.render_sort_icon(sort, desc, 'pts_diff') }}
                        </a>
                    </th>
                    <th>
                        <a class="link_alt" href="{{ url_for('players.heroes', steam_id=player.steam_id, sort='kda',
                        desc=macro.render_desc(sort, desc, 'kda')) }}">KDA
                            {{ macro.render_sort_icon(sort, desc, 'kda') }}
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody id="heroes_stats">
                {% for s in heroes_stats %}
                    <tr hero={{ s.hero }}>
                        <td><img class="steam_img"
                                 src=http://cdn.dota2.com/apps/dota2/images/heroes/{{ s.hero }}_lg.png></td>
                        <td>{{ s.played }}</td>
                        <td>{{ '%i' % s.winrate }}%</td>
                        <td>{{ s.pts_diff }}</td>
                        <td>{{ '%0.2f' % s.kda }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            $('#avg_rating').raty({
                readOnly: true,
                path: 'https://cdnjs.cloudflare.com/ajax/libs/raty/2.8.0/images',
                score: parseFloat("{{ avg_rating }}")
            });
        });
    </script>
{% endblock %}
