{% extends '/base.html' %}

{% block head %}
    <meta name="description" content="{{ SITE_NAME }}, Dota2 profile of {{ player.nickname }}">
    {{ macro.render_site_title(player.nickname) }}
{% endblock %}

{% block header %}
    {% include '/_blocks/player_header.html' %}
{% endblock %}

{% macro render_team_mates_table(team_mates) %}
<table class="table table-sm table-borderless table-hover">
    <thead>
    <tr>
        <th></th>
        <th>Player</th>
        <th>Winrate</th>
        <th>W-L</th>
        <th>PTS diff</th>
        <th>Games</th>
    </tr>
    </thead>
    <tbody>
    {% for tm in team_mates %}
        <tr>
            <td>
                <img class="steam_img" src={{ tm.player_2.avatar_medium }}>
            </td>
            <td>
                <a href="{{ url_for('players.overview', steam_id=tm.player_2.steam_id) }}">
                    {{ tm.player_2.nickname }}
                </a>
            </td>
            <td>{{ '%i' % tm.winrate }}%</td>
            <td>{{ macro.render_win_loss(tm.win_loss) }}</td>
            <td>{{ macro.render_pts_diff(tm.pts_diff) }}</td>
            <td>{{ tm.games_played }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% macro render_opponents_table(opponenets) %}
<table class="table table-sm table-borderless table-hover">
    <thead>
    <tr>
        <th></th>
        <th>Player</th>
        <th>Winrate</th>
        <th>W-L</th>
        <th>PTS diff</th>
        <th>Games</th>
    </tr>
    </thead>
    <tbody>
    {% for op in opponenets %}
        <tr>
            <td>
                <img class="steam_img" src={{ op.player.avatar_medium }}>
            </td>
            <td>
                <a href="{{ url_for('players.overview', steam_id=op.player.steam_id) }}">
                    {{ op.player.nickname }}
                </a>
            </td>
            <td>{{ '%i' % op.winrate }}%</td>
            <td>{{ macro.render_win_loss(op.win_loss) }}</td>
            <td>{{ macro.render_pts_diff(op.pts_diff) }}</td>
            <td>{{ op.games_played }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endmacro %}


{% block content %}
    {% include '/_blocks/player_card.html' with context %}

    <div class="row">
        <div class="col-6">
            <div class="card profile-row-1">
                <div class="card-header">
                    <a href="{{ url_for('players.heroes', steam_id=player.steam_id) }}" target="_blank">Signature Heroes&nbsp;<i class="fas fa-link"></i></a>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-borderless table-hover">
                        <thead>
                        <tr>
                            <th>Hero</th>
                            <th>Matches</th>
                            <th>Winrate</th>
                            <th>W-L</th>
                            <th>PTS diff</th>
                            <th>KDA</th>
                        </tr>
                        </thead>
                        <tbody id="signature_heroes">
                        {% for s in signature_heroes %}
                            <tr hero={{ s.hero }} class="clickable">
                                <td><img class="steam_img"
                                         src=http://cdn.dota2.com/apps/dota2/images/heroes/{{ s.hero }}_lg.png></td>
                                <td>{{ s.played }}</td>
                                <td>{{ '%i' % s.winrate }}%</td>
                                <td>{{ macro.render_win_loss(s.win_loss) }}</td>
                                <td>{{ macro.render_pts_diff(s.pts_diff) }}</td>
                                <td>{{ '%0.2f' % s.kda }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-6">

            {% macro render_playstyle(ps) %}
                {% if ps %}
                    <tr>
                        <td>{{ ps.name }}</td>
                        <td>{{ ps.played }}</td>
                        <td>{{ '%i' % ps.winrate }}%</td>
                        <td>{{ macro.render_win_loss(ps.win_loss) }}</td>
                        <td>{{ macro.render_pts_diff(ps.pts_diff) }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ name }}</td>
                        <td>0</td>
                        <td>0%</td>
                        <td>{{ macro.render_win_loss(0) }}</td>
                        <td>{{ macro.render_pts_diff(0) }}</td>
                    </tr>
                {% endif %}
            {% endmacro %}

            <div class="card profile-row-1">
                <div class="card-header">
                    Playstyle
                </div>
                <div class="card-body">
                    <table class="table table-sm table-borderless table-hover">
                        <tbody id="signature_heroes">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Matches</th>
                                    <th>Winrate</th>
                                    <th>W-L</th>
                                    <th>PTS diff</th>
                                </tr>
                            </thead>
                            {% for ps in playstyles %}
                                {{ render_playstyle(ps) }}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">

            <div class="card profile-row-1">
                <div class="card-header">
                    <a href="{{ url_for('players.teammates', steam_id=player.steam_id, sort='win_loss') }}" target="_blank">
                        Best Teammates&nbsp;<i class="fas fa-link"></i>
                    </a>
                </div>
                <div class="card-body">
                    {{ render_team_mates_table(best_team_mates) }}
                </div>
            </div>

            <div class="card ">
                <div class="card-header">
                    <a href="{{ url_for('players.opponents', steam_id=player.steam_id, sort='win_loss') }}" target="_blank">
                        Free Pts (Often Wins against)&nbsp;<i class="fas fa-link"></i>
                    </a>
                </div>
                <div class="card-body">
                    {{ render_opponents_table(wins_against) }}
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Pts trends
                </div>
                <div class="card-body">
                    <canvas id="pts_trends" height="210px"></canvas>
                </div>
            </div>

        </div>

        <div class="col-6">

            <div class="card ">
                <div class="card-header">
                    <a href="{{ url_for('players.teammates', steam_id=player.steam_id, sort='win_loss', desc='no') }}" target="_blank">
                        Worst Teammates&nbsp;<i class="fas fa-link"></i>
                    </a>
                </div>
                <div class="card-body">
                    {{ render_team_mates_table(worst_team_mates) }}
                </div>
            </div>

            <div class="card ">
                <div class="card-header">
                    <a href="{{ url_for('players.opponents', steam_id=player.steam_id, sort='win_loss', desc='no') }}" target="_blank">
                        Personal Nightmare (Often Losses to)&nbsp;<i class="fas fa-link"></i>
                    </a>
                </div>
                <div class="card-body">
                    {{ render_opponents_table(losses_to) }}
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Seasons played
                </div>
                <div class="card-body">
                    <table class="table table-sm table-borderless table-hover">
                        <thead>
                        <tr>
                            <th>Season</th>
                            <th>Wins / Losses</th>
                            <th>PTS</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ss in player.season_stats %}
                            <tr>
                                <td>{{ ss.season.number }}</td>
                                <td>{{ ss.wins }} / {{ ss.losses }}</td>
                                <td>{{ ss.pts }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="{{ url_for('players.matches', steam_id=player.steam_id) }}" target="_blank">Matches&nbsp;<i class="fas fa-link"></i></a>
                </div>
                <div class="card-body">
                    <table id="player_matches" class="table table-sm">
                        <thead>
                        <tr class="header_table">
                            <th>Match id</th>
                            <th data-toggle="tooltip" data-placement="top" title="Season #">S#</th>
                            <th>Hero</th>
                            <th>Date</th>
                            <th>Duration</th>
                            <th>PTS</th>
                            <th>PTS diff</th>
                            <th data-toggle="tooltip" data-placement="top" title="Level">L</th>
                            <th data-toggle="tooltip" data-placement="top" title="Kills">K</th>
                            <th data-toggle="tooltip" data-placement="top" title="Deaths">D</th>
                            <th data-toggle="tooltip" data-placement="top" title="Assists">A</th>
                            <th data-toggle="tooltip" data-placement="top" title="Last Hits">LH</th>
                            <th data-toggle="tooltip" data-placement="top" title="Hero Damage">HD</th>
                            <th data-toggle="tooltip" data-placement="top" title="Tower Damage">TD</th>
                            <th data-toggle="tooltip" data-placement="top" title="Damage Taken">DT</th>
                            <th data-toggle="tooltip" data-placement="top" title="Gold Per Minute">GPM</th>
                            <th data-toggle="tooltip" data-placement="top" title="Experience Per Minute">XPM</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for s in matches_stats %}
                            {% if s.player_slot < 5 %}
                                {% if s.match.radiant_win %}
                                    <tr class="win_row clickable" match_id={{ s.match_id }}>
                                        {% else %}
                                    <tr class="loss_row clickable" match_id={{ s.match_id }}>
                                {% endif %}
                            {% else %}
                            {% if s.match.radiant_win %}
                                <tr class="loss_row clickable" match_id={{ s.match_id }}>
                                    {% else %}
                                <tr class="win_row clickable" match_id={{ s.match_id }}>
                            {% endif %}
                            {% endif %}
                        <td>{{ s.match_id }}</td>
                        <td>{{ s.match.season.number }}</td>
                        <td class="avatar_table">
                            <img class="steam_img"
                                 src=http://cdn.dota2.com/apps/dota2/images/heroes/{{ s.hero }}_lg.png>
                        </td>
                        <td class="start_time">{{ s.match.start_time }}</td>
                        <td>{{ format_duration(s.match.duration) }}</td>
                        <td>{{ s.old_pts }}</td>
                        <td>{% if s.pts_diff > 0 %}+{% endif %}{{ s.pts_diff }}</td>
                        <td>{{ s.level }}</td>
                        <td>{{ s.kills }}</td>
                        <td>{{ s.deaths }}</td>
                        <td>{{ s.assists }}</td>
                        <td>{{ s.last_hits }}</td>
                        <td>{{ s.hero_damage }}</td>
                        <td>{{ s.tower_damage }}</td>
                        <td>{% if s.damage_taken %} {{ s.damage_taken }} {% else %} - {% endif %}</td>
                        <td>{% if s.gold_per_min %} {{ s.gold_per_min }} {% else %} - {% endif %}</td>
                        <td>{% if s.xp_per_min %} {{ s.xp_per_min }} {% else %} - {% endif %}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $("[data-toggle=tooltip]").tooltip({container:'body'});
            $('#avg_rating').raty({
                readOnly: true,
                path: 'https://cdnjs.cloudflare.com/ajax/libs/raty/2.8.0/images',
                score: parseFloat("{{ avg_rating }}")
            });
            var ptsHistory = {{ pts_history | safe}};
            new Chart(document.getElementById("pts_trends"), {
                type: 'line',
                data: {
                    labels: ptsHistory.map(x => x[0]),
                    datasets: [{
                        data: ptsHistory.map(x => x[1]),
                        label: "PTS",
                        borderColor: 'rgb(61, 89, 77)',
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        fill: false,
                        borderWidth: 1,
                        pointBackgroundColor: 'rgb(61, 89, 77)',
                        pointRadius: 2,
                        lineTension: 0
                    }]
                },
                options: {
                     legend: {
                        display: false
                     }
                 }
            });
        });
        $('.start_time').each(function() {
            $(this).html(moment(moment.unix($(this).html())).format('MMMM Do YYYY, h:mm:ss a'));
        });
        $('#signature_heroes tr').each(function() {
            $(this).click(function() {
                window.location.href = '/players/{{ player.steam_id }}/matches?hero=' + $(this).attr('hero');
            });
        });
        $('#player_matches tbody > tr').each(function() {
            $(this).click(function() {
                window.location.href = '/matches/' + $(this).attr('match_id');
            });
        });
    </script>
{% endblock %}
