{% macro load_js_lib(files) -%}
    {% for lib in files %}
        <script src="{{ url_for('static', filename='lib/bower_components/' ~ lib) }}"
                type="text/javascript" charset="utf-8"></script>
    {% endfor %}
{%- endmacro %}

{% macro load_css_lib(files) -%}
    {% for css in files %}
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/bower_components/' ~ css) }}">
    {% endfor %}
{%- endmacro %}

{% macro load_css(files) -%}
    {% for css in files %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/' ~ css) }}">
    {% endfor %}
{%- endmacro %}

{% macro load_js(files) -%}
    {% for js in files %}
        <script src="{{ url_for('static', filename='js/' ~ js) }}" type="text/javascript" charset="utf-8">
        </script>
    {% endfor %}
{%- endmacro %}

{% macro render_logo() -%}
    <img src="{{ url_for('static', filename='img/logo.png') }}">
{%- endmacro %}

{% macro render_trophy(place, season) -%}
  {% if place == 1 %}
    <img class="trophy_img" src="{{ url_for('static', filename='img/gold_trophy.png') }}"
    data-toggle="tooltip" data-placement="top" title="1st place season #{{ season.number }}">
  {% elif place == 2 %}
    <img class="trophy_img" src="{{ url_for('static', filename='img/silver_trophy.png') }}"
    data-toggle="tooltip" data-placement="top" title="2nd place season #{{ season.number }}">
  {% elif place == 3 %}
    <img class="trophy_img" src="{{ url_for('static', filename='img/bronze_trophy.png') }}"
    data-toggle="tooltip" data-placement="top" title="3rd place season #{{ season.number }}">
  {% endif %}
{%- endmacro %}

{% macro render_google_meta() -%}
    <meta name="google-site-verification" content={{ GOOGLE_SITE_VERIFICATION_CODE }} />
{%- endmacro %}

{% macro render_site_title(page) -%}
    <title>{{ SITE_NAME }} | {{ page }}</title>
{%- endmacro %}

{% macro render_pagination(pagination, url) %}
{% set view_args = kwargs %}
<div id="pagination">
    <ul class="pagination">
    {% if pagination.has_prev %}
        <li>
        <a href="{{ url_for(url, page=pagination.prev_num, **view_args) }}"><</a>
        </li>
    {% endif %}
    {%- for _page in pagination.iter_pages() %}
        {% if _page %}
          {% if _page != pagination.page %}
            <li><a href="{{ url_for(url, page=_page, **view_args) }}">{{ _page }}</a></li>
          {% else %}
            <li class="active"><a>{{ _page }}</strong></a></li>
          {% endif %}
        {% else %}
          <li><span class=ellipsis>...</span></li>
        {% endif %}
      {%- endfor %}
      {% if pagination.has_next %}
        <li><a href="{{ url_for(url, page=pagination.next_num, **view_args) }}">></a></li>
      {% endif %}
    </ul>
</div>
{% endmacro %}