{% macro load_js_lib(files) -%}
    {% for lib in files %}
        <script src="{{ url_for('static', filename='lib/bower_components/' ~ lib) }}"
                type="text/javascript" charset="utf-8"></script>
    {% endfor %}
{%- endmacro %}

{% macro load_css_lib(files) -%}
    {% for css in files %}
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/bower_components/' ~ css) }}">
    {% endfor %}
{%- endmacro %}

{% macro load_css(files) -%}
    {% for css in files %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/' ~ css) }}">
    {% endfor %}
{%- endmacro %}

{% macro load_js(files) -%}
    {% for js in files %}
        <script src="{{ url_for('static', filename='js/' ~ js) }}" type="text/javascript" charset="utf-8">
        </script>
    {% endfor %}
{%- endmacro %}

{% macro render_navbar() -%}
    <div class="row">
        <div id="navbar" class="navbar" style="padding-top: 20px;">
            <div class="navbar-header">
                <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li {% if endpoint[0]=="seasons" %} class="active"  {% endif %} >
                        <a href="{{ url_for('seasons.players') }}">SEASON STATS</a>
                    </li>
                    <li {% if endpoint[0]=="matches" %} class="active" {% endif %}>
                        <a href="{{ url_for('matches.matches_preview') }}">MATCH HISTORY</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if g.user %}
                        {% if g.user.is_admin() %}
                        <li><a href="{{ url_for('admin.index') }}">ADMIN</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('players.overview', steam_id=g.user.steam_id) }}">PROFILE</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">LOGIN THROUGH STEAM</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <hr id="line_after_logo"/>
    </div>
{%- endmacro %}

{% macro render_season_navbar(seasons) %}
    <ul class="nav nav-tabs">
        <li {% if endpoint[0]=="seasons" and endpoint[1]=="records" %} class="active" {% endif %}>
            <a href="{{ url_for('seasons.records', season_number=season_number) }}">Records</a>
        </li>
        <li {% if endpoint[0]=="seasons" and endpoint[1]=="players" %} class="active" {% endif %}>
            <a href="{{ url_for('seasons.players', season_number=season_number) }}">Players</a>
        </li>
        <li {% if endpoint[0]=="seasons" and endpoint[1]=="heroes" %} class="active" {% endif %}>
            <a href="{{ url_for('seasons.heroes', season_number=season_number) }}">Heroes</a>
        </li>
    </ul>
{% endmacro %}

{% macro render_season_number_navbar(seasons) %}
    {# additional jquery code required #}
    Season #
    <select id="select_season" name="season">
        {% for number in seasons %}
            <option {% if number==season_number %} selected="selected" {% endif %} 
                value={{ number }}>{{ number }}</option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro render_player_page_navbar() %}
    <ul class="nav nav-tabs">
        <li {% if endpoint[0]=="players" and endpoint[1]=="overview" %} class="active" {% endif %}><a href="{{ url_for('players.overview', steam_id=player.steam_id) }}">Overview</a></li>
        <li {% if endpoint[0]=="players" and endpoint[1]=="heroes" %} class="active" {% endif %}><a href="{{ url_for('players.heroes', steam_id=player.steam_id) }}">Heroes</a></li>
        <li {% if endpoint[0]=="players" and endpoint[1]=="matches" %} class="active" {% endif %}><a href="{{ url_for('players.matches', steam_id=player.steam_id) }}">Matches</a></li>
    </ul>
{% endmacro %}

{% macro render_logo() -%}
    <img src="{{ url_for('static', filename='img/logo.png') }}">
{%- endmacro %}

{% macro render_trophy(place, season) -%}
  {% if place == 1 %}
    <img class="trophy_img" src="{{ url_for('static', filename='img/gold_trophy.png') }}"
    data-toggle="tooltip" data-placement="top" title="1st place season #{{ season.number }}">
  {% elif place == 2 %}
    <img class="trophy_img" src="{{ url_for('static', filename='img/silver_trophy.png') }}"
    data-toggle="tooltip" data-placement="top" title="2nd place season #{{ season.number }}">
  {% elif place == 3 %}
    <img class="trophy_img" src="{{ url_for('static', filename='img/bronze_trophy.png') }}"
    data-toggle="tooltip" data-placement="top" title="3rd place season #{{ season.number }}">
  {% endif %}
{%- endmacro %}

{% macro render_google_meta() -%}
    <meta name="google-site-verification" content={{ GOOGLE_SITE_VERIFICATION_CODE }} />
{%- endmacro %}

{% macro render_site_title(page) -%}
    <title>{{ SITE_NAME }} | {{ page }}</title>
{%- endmacro %}

{% macro render_pagination(pagination, url) %}
{% set view_args = kwargs %}
<div id="pagination">
    <ul class="pagination">
    {% if pagination.has_prev %}
        <li>
        <a href="{{ url_for(url, page=pagination.prev_num, **view_args) }}"><</a>
        </li>
    {% endif %}
    {%- for _page in pagination.iter_pages() %}
        {% if _page %}
          {% if _page != pagination.page %}
            <li><a href="{{ url_for(url, page=_page, **view_args) }}">{{ _page }}</a></li>
          {% else %}
            <li class="active"><a>{{ _page }}</strong></a></li>
          {% endif %}
        {% else %}
          <li><span class=ellipsis>...</span></li>
        {% endif %}
      {%- endfor %}
      {% if pagination.has_next %}
        <li><a href="{{ url_for(url, page=pagination.next_num, **view_args) }}">></a></li>
      {% endif %}
    </ul>
</div>
{% endmacro %}