{% import 'macro.html' as macro with context %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>
    {{ macro.load_js_lib([
        'bootstrap/dist/js/bootstrap.js',
        'raty/lib/jquery.raty.js',
        'moment/moment.js',
        'jqplot/jquery.jqplot.min.js'
    ]) }}
    {{ macro.load_css_lib([
        'bootstrap/dist/css/bootstrap.css',
        'bootstrap/dist/css/bootstrap-theme.css',
        'jqplot/jquery.jqplot.min.css'
    ]) }}
    {{ macro.load_css([
        'main.css',
        'player.css'
    ])}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ macro.render_site_title(player.nickname ~ ' heroes') }}
</head>
<body>
<div class="container">
{{ macro.render_navbar() }}
<div class="row">
    <div class="row">
        <div class="col-md-9" style="padding:20px">
            <h1>
                <img style="border: 3px solid white" src={{ player.avatar_medium }}>
                <a class="link"
                    href="{{ url_for('players.overview', steam_id=player.steam_id) }}">{{player.nickname}}</a>
                <span id="avg_rating"></span> <span style="font-size:12pt">({{ rating_amount }} votes)</span>
            </h1>
        </div>
        <div class="col-md-3" style="padding:20px; text-align:right;">
            <h2 style="padding-top:15px">
                <span class="radiant_text_color">{{ season_stats.wins }}</span> 
                / 
                <span class="dire_text_color">{{ season_stats.losses }}</span>
                <span style="padding-left:10px">{{ season_stats.pts }} pts</span>
            </h2>
        </div>
    </div>
    {{ macro.render_player_page_navbar() }}
    <div class="row" style="padding: 20px; color:black">
        <div class="col-md-offset-2 col-md-8">
            <div class="panel panel-default white_table_hover">
                <div class="panel-heading">Played heroes</div>
                <table class="table table-hover">
                   <thead>
                    <tr>
                        <th>
                            <a class="link_alt" href="{{ url_for('players.heroes', steam_id=player.steam_id, sort='hero',
                             desc='no') }}">Hero
                            {% if sort == 'hero' %}
                                <span class="glyphicon glyphicon glyphicon glyphicon-sort-by-alphabet"></span>
                            {% endif %}
                            </a>
                        </th>
                        <th>
                            <a class="link_alt" href="{{ url_for('players.heroes', steam_id=player.steam_id, sort='played',
                            desc='yes') }}">Matches
                            {% if not sort or sort == 'played' %}
                                <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt"></span>
                            {% endif %}
                            </a>
                        </th>
                        <th>
                            <a class="link_alt" href="{{ url_for('players.heroes', steam_id=player.steam_id, sort='winrate',
                            desc='yes') }}">Winrate
                            {% if sort == 'winrate' %}
                                <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt"></span>
                            {% endif %}
                            </a>
                        </th>
                        <th>
                            <a class="link_alt" href="{{ url_for('players.heroes', steam_id=player.steam_id, sort='pts_diff',
                            desc='yes') }}">Earned pts
                            {% if sort == 'pts_diff' %}
                                <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt"></span>
                            {% endif %}
                            </a>
                        </th>
                        <th>
                            <a class="link_alt" href="{{ url_for('players.heroes', steam_id=player.steam_id, sort='kda',
                            desc='yes') }}">KDA
                            {% if sort == 'kda' %}
                                <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt"></span>
                            {% endif %}
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="heroes_stats">
                    {% for s in heroes_stats %}
                    <tr hero={{ s.hero }}>
                        <td><img class="steam_img" 
                        src=http://cdn.dota2.com/apps/dota2/images/heroes/{{ s.hero }}_sb.png></td>
                        <td>{{ s.played }}</td>
                        <td>{{ '%i' % s.winrate }}%</td>
                        <td>{{ s.pts_diff }}</td>
                        <td>{{ '%0.2f' % s.kda }}</td>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div> 
        </div>
    </div>
</div>
</div>
</body>
<script>
$(document).ready(function() {
    $('#avg_rating').raty({ readOnly: true, path: '/static/lib/bower_components/raty/lib/img', score: parseFloat("{{ avg_rating }}")});
    $("[data-toggle=tooltip]").tooltip({row:'body'});
    $('.start_time').each(function() {
        $(this).html(moment(moment.unix($(this).html())).format('MMMM Do YYYY, h:mm:ss a'));
    });
    $('#heroes_stats tr').each(function() {
        $(this).click(function() {
            window.location.href = '/players/{{ player.steam_id }}/matches?hero=' + $(this).attr('hero');
        });
    });
});
</script>