{% import 'macro.html' as macro with context %}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>
    {{ macro.load_js_lib([
        'bootstrap/dist/js/bootstrap.js'
    ]) }}
    {{ macro.load_css_lib([
        'bootstrap/dist/css/bootstrap.css',
        'bootstrap/dist/css/bootstrap-theme.css',
    ]) }}
    {{ macro.load_css([
        'main.css',
        'players.css'
    ])}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ macro.render_google_meta() }}
    {{ macro.render_site_title('RECORDS') }}
</head>
<body>
{% if g.user %}
    {% if g.user.is_admin() %}
    <a href='/admin/'>
    <div id="home">
        <span class="glyphicon glyphicon-wrench"></span>
    </div>
    </a>
    {% endif %}
{% else %}
    <div id="error" class="alert alert-warning alert-dismissable text-center">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <a href="/login"><img stlyle="height: 50px;" 
      src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png"/></a>
      to rate players.
    </div>
{% endif %}
<div id="container">
    {{ macro.render_logo() }}
    <div style="padding:20px">
        <ul class="nav nav-tabs">
            {% if g.user %}
                <li ><a href="{{ url_for('players.player_overview', steam_id=g.user.steam_id) }}">Profile</a></li>
            {% endif %}
            <li class="active" ><a href="{{ url_for('players.records') }}">Season Records</a></li>
            <li ><a href="{{ url_for('players.players') }}">Season Players</a></li>
            <li ><a href="{{ url_for('matches.matches_preview') }}">Matches</a></li>
            <li ><a href="{{ url_for('matches.team_builder') }}">Teambuilder</a></li>
        </ul>
    </div>
        <div class="row" style="padding: 20px; color:black">
            <div class="col-md-4">
                <div class="panel panel-default white_table_hover">
                    <div class="panel-heading">In-Season players records</div>
                    <table class="table table-hover in_season_records_table">
                        <tbody>
                        {% for record in in_season_records %}
                        <tr player_id={{ record[1].steam_id }}>
                            <td>{{ record[0] }}</td>
                            <td><span class="player_alt">{{ record[1].nickname }}</span></td>
                            <td>{{ record[2] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div> 
            </div>
            <div class="col-md-8">
                <div class="panel panel-default white_table_hover">
                    <div class="panel-heading">In-Match players records</div>
                    <table class="table table-hover in_match_records_table">
                        <tbody>
                        {% for record in in_match_records %}
                        <tr match_id={{ record[0] }}>
                            <td>{{ record[1] }}</td>
                            <td><span class="player_alt">{{ record[2].nickname }}</span></td>
                            <td><img class="steam_img" 
                            src=http://cdn.dota2.com/apps/dota2/images/heroes/{{ record[3] }}_sb.png></td>
                            <td>{{ record[4] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div> 
            </div>
        </div>
</div>
</body>
<script>
$(document).ready(function() {
    $('.in_match_records_table tr').each(function() {
        $(this).click(function() {
            window.location.href = '/matches/' + $(this).attr('match_id');
        });
    });
    $('.in_season_records_table tr').each(function() {
        $(this).click(function() {
            window.location.href = '/players/' + $(this).attr('player_id') + '/overview';
        });
    });
});
</script>