{% extends 'base.html' %}

{% block head %}
    {{ macro.render_site_title('TEAMBUILDER') }}
{% endblock %}

{% block body %}
    <div class="container">
        {{ macro.render_navbar() }}
        {% set non_registered_player='NOT REGISTERED PLAYER' %}
        <form method="POST" action="" class="team_builder_row">
            {% for i in range(1, 11) %}
                <div class="team_builder_row">
                    <label for="select2-input-sm" class="control-label">Player {{ i }}</label>
                    <select name="player-{{ i }}" class="input-lg select2-multiple">
                        <option value="None"
                        {% if teams and teams[(i-1)//5][(i-1)%5].nickname==non_registered_player %}
                        selected="selected"
                        {% endif %}>
                            {{ non_registered_player }}
                        </option>
                        {% for ss in season_stats %}
                            <option value={{ ss.steam_id }}
                            {% if teams and teams[(i-1)//5][(i-1)%5].nickname==ss.player.nickname %}
                            selected="selected"
                            {% endif %}>
                                {{ ss.player.nickname }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}
            <p>
                <input type="submit" value="Get teams" class="btn btn-default" style="margin:20px">
            </p>
            <textarea disabled class="random_result" rows="12">
                    {% if teams %}
                    Radiant:
                        {% for player in teams[0] %}
                            {{ player.nickname }}
                        {% endfor %}

                    Dire:
                        {% for player in teams[1] %}
                            {{ player.nickname }}
                        {% endfor %}
                    {% endif %}
                </textarea>
        </form>
    </div>
{% endblock %}

{% block script %}
    $(document).ready(function() { $('.select2-multiple').each(function() { $(this).select2({}); }); });
{% endblock %}
