.match_start_time {
    text-align: center;
}

.add_match {
    border-top: 2px dashed white;
    border-bottom: 2px dashed white;
    padding-left: 400px;
    margin: 0 auto;
    float: none;
}

#top_players {
    font-size: 15pt;
    text-align: center;
}

.matches_table {
    padding: 5px; 
    margin:20px; 
    background-color: #eaeaea;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: black;
    font-size: 12pt;
}

.matches_table caption {
    text-align: right; 
    font-weight: bold; 
    font-size: 16pt;
}
