.player_matches {
    padding: 10px;
}

.player_matches .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #223a34;
    cursor: pointer;
}

.player_matches .table-hover thead tr:hover td, .table-hover thead tr:hover th {
    text-align: cetner;
    cursor: default;
}

tr.win_row {
    background-color: #263d26;
}

tr.loss_row {
    background-color: #2e2020;
}

#pts_history_plot {
    margin: 20px;
}

.trophy_img {
    margin-top: 5px;
    padding-left: 2px;
}