<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-9">
                <h2>
                    <img class="rounded" src={{ player.avatar_medium }}>
                    <a class="link"
                       href="{{ url_for('players.overview', steam_id=player.steam_id) }}">{{ player.nickname }}</a>
                    <span id="avg_rating"></span><span style="font-size:12pt">({{ rating_amount }} votes)</span>
                    {% for s in player.place_1_seasons %}
                        {{ macro.render_trophy(1, s) }}
                    {% endfor %}
                    {% for s in player.place_2_seasons %}
                        {{ macro.render_trophy(2, s) }}
                    {% endfor %}
                    {% for s in player.place_3_seasons %}
                        {{ macro.render_trophy(3, s) }}
                    {% endfor %}
                </h2>
            </div>

            <div class="col-md-3">
                <h2 style="padding-top:15px">
                    <span class="radiant_text_color">{{ season_stats.wins }}</span>
                    /
                    <span class="dire_text_color">{{ season_stats.losses }}</span>
                    <span style="padding-left:10px">{{ season_stats.pts }} pts</span>
                </h2>
            </div>
        </div>
    </div>
</div>
