<ul class="nav nav-tabs bg-white">
    <li class="nav-item">
        <a class="nav-link {{ 'active' if endpoint[1] == 'players' }}" href="{{ url_for('seasons.players') }}">Players</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ 'active' if endpoint[1] == 'heroes' }}" href="{{ url_for('seasons.heroes') }}">Heroes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ 'active' if endpoint[1] == 'records' }}" href="{{ url_for('seasons.records') }}">Records</a>
    </li>
</ul>
