{% extends 'macro.html' %}

{% macro render_navbar() -%}
    <div class="row">
        <div id="navbar" class="navbar" style="padding-top: 20px;">
            <div class="navbar-header">
                <a href="/"><img src="{{ url_for('static', filename='img/logo.png') }}"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li {% if endpoint[0]=="seasons" %} class="active"  {% endif %} >
                        <a href="{{ url_for('dota.seasons.players') }}">SEASON STATS</a>
                    </li>
                    <li {% if endpoint[0]=="matches" %} class="active" {% endif %}>
                        <a href="{{ url_for('dota.matches.matches_preview') }}">MATCH HISTORY</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if g.user %}
                        {% if g.user.is_admin() %}
                        <li><a href="{{ url_for('admin.index') }}">ADMIN</a></li>
                        {% endif %}
                        <li>
                        <a href="{{ url_for('dota.players.overview', steam_id=g.user.steam_id) }}">PROFILE</a>
                        </li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">LOGIN THROUGH STEAM</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <hr id="line_after_logo"/>
    </div>
{%- endmacro %}

{% macro render_season_navbar(seasons) %}
    <ul class="nav nav-tabs">
        <li {% if endpoint[1]=="seasons" and endpoint[2]=="records" %} class="active" {% endif %}>
            <a href="{{ url_for('dota.seasons.records', season_number=season_number) }}">Records</a>
        </li>
        <li {% if endpoint[1]=="seasons" and endpoint[2]=="players" %} class="active" {% endif %}>
            <a href="{{ url_for('dota.seasons.players', season_number=season_number) }}">Players</a>
        </li>
        <li {% if endpoint[1]=="seasons" and endpoint[2]=="heroes" %} class="active" {% endif %}>
            <a href="{{ url_for('dota.seasons.heroes', season_number=season_number) }}">Heroes</a>
        </li>
    </ul>
{% endmacro %}

{% macro render_season_number_navbar(seasons) %}
    {# additional jquery code required #}
    Season #
    <select id="select_season" name="season">
        {% for number in seasons %}
            <option {% if number==season_number %} selected="selected" {% endif %} 
                value={{ number }}>{{ number }}</option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro render_player_page_navbar() %}
    <ul class="nav nav-tabs">
        <li {% if endpoint[1]=="players" and endpoint[2]=="overview" %} class="active" {% endif %}><a href="{{ url_for('dota.players.overview', steam_id=player.steam_id) }}">Overview</a></li>
        <li {% if endpoint[1]=="players" and endpoint[2]=="heroes" %} class="active" {% endif %}><a href="{{ url_for('dota.players.heroes', steam_id=player.steam_id) }}">Heroes</a></li>
        <li {% if endpoint[1]=="players" and endpoint[2]=="matches" %} class="active" {% endif %}><a href="{{ url_for('dota.players.matches', steam_id=player.steam_id) }}">Matches</a></li>
    </ul>
{% endmacro %}