@font-face {
    font-family: 'MavenProBlack';
    src: url('/static/MavenPro/maven_pro_black-webfont.eot');
    src: url('/static/MavenPro/maven_pro_black-webfont.eot?#iefix') format('eot'),
         url('/static/MavenPro/maven_pro_black-webfont.woff') format('woff'),
         url('/static/MavenPro/maven_pro_black-webfont.ttf') format('truetype'),
         url('/static/MavenPro/maven_pro_black-webfont.svg#webfontXhB2DgBK') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MavenProBold';
    src: url('/static/MavenPro/Bold/maven_pro_bold-webfont.eot');
    src: url('/static/MavenPro/Bold/maven_pro_bold-webfont.eot?#iefix') format('eot'),
         url('/static/MavenPro/Bold/maven_pro_bold-webfont.woff') format('woff'),
         url('/static/MavenPro/Bold/maven_pro_bold-webfont.ttf') format('truetype'),
         url('/static/MavenPro/Bold/maven_pro_bold-webfont.svg#webfontNOU7iUTL') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MavenProMedium';
    src: url('/static/MavenPro/Medium/maven_pro_medium-webfont.eot');
    src: url('/static/MavenPro/Medium/maven_pro_medium-webfont.eot?#iefix') format('eot'),
         url('/static/MavenPro/Medium/maven_pro_medium-webfont.woff') format('woff'),
         url('/static/MavenPro/Medium/maven_pro_medium-webfont.ttf') format('truetype'),
         url('/static/MavenPro/Medium/maven_pro_medium-webfont.svg#webfontNj5iy4Dl') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MavenProRegular';
    src: url('/static/MavenPro/Regular/maven_pro_regular-webfont.eot');
    src: url('/static/MavenPro/Regular/maven_pro_regular-webfont.eot?#iefix') format('eot'),
         url('/static/MavenPro/Regular/maven_pro_regular-webfont.woff') format('woff'),
         url('/static/MavenPro/Regular/maven_pro_regular-webfont.ttf') format('truetype'),
         url('/static/MavenPro/Regular/maven_pro_regular-webfont.svg#webfontOM8fITNz') format('svg');
    font-weight: normal;
    font-style: normal;
}
