body, html {
    height: 100%;
}

body {
    background-color: #223a34;
}

#error {
    color: green;
}

#line_after_logo {
    height:1px; 
    border:none; 
    color:#223a34; 
    background-color:#223a34;
    margin: 20 auto 0 0;
}

#warning {
  max-width: 560px;
  margin: 15px auto;
  text-align: center;
}

.container {
    color: white;
    font-family: 'Gafata', sans-serif;
    margin: 0 auto;
    padding: 0 auto;
    background-color: #3d594d;
    -moz-box-shadow: 0 0 2px #555;
    -webkit-box-shadow: 0 0 2px #555;
    box-shadow: 0 0 2px #555;
}

.dire_text_color {
    color: #8f5050;
}

.radiant_text_color {
    color: #368d36;    
}

a.link {
    color: #61ff68;
    border-bottom: 1px dashed #ffffff;
    text-decoration: none; 
}

a.active_link {
    color: white;
    text-decoration: none; 
}

a.link_alt {
    color: #4d795d;
    border-bottom: 1px dashed #4d795d;
    text-decoration: none;  
}

div#home{
    margin: 0 auto;
    padding: 0 auto;
    background-color: #2d493d;
    text-align: center;
    padding: 10px;
    color: gray;
}

.white_table_hover .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #BBCCBB;
    cursor: pointer;
}

.center-table
{
    margin: 0 auto !important;
    float: none !important;
}


#pagination {
    text-align:center;
}


/* custom bootstrap navbar */
    /*color: rgba(63, 120, 15, 1);*/

#navbar.navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#navbar {
    font-weight:bold; 
    font-size: 16pt;
    background-color: rgba(248, 248, 248, 0);
    border-width: 1px;
    border-radius: 4px;
}
#navbar .navbar-nav>li>a {
    color: rgba(89, 168, 20, 1);
    background-color: rgba(248, 248, 248, 0);
}
#navbar .navbar-nav>li>a:hover,
#navbar .navbar-nav>li>a:focus {
    cursor: pointer;
    color: rgba(105, 195, 27, 1);
    /*color: rgba(245, 59, 59, 1);*/
    background-color: rgba(248, 248, 248, 0);
}
#navbar .navbar-nav>.active>a,
#navbar .navbar-nav>.active>a:hover,
#navbar .navbar-nav>.active>a:focus {
    color: rgba(105, 195, 27, 1);
}
#navbar .navbar-toggle {
    border-color: #ffffff;
}
#navbar .navbar-toggle:hover,
#navbar.navbar-toggle:focus {
    background-color: #ffffff;
}
#navbar .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
#navbar .navbar-toggle:hover .icon-bar,
#navbar .navbar-toggle:focus .icon-bar {
    background-color: #f8f8f8;
}

.navbar-brand, .navbar-nav > li > a {
    text-shadow: 0 1px 0 rgba(0, 0, 0, .55);    
}

/* bootstrap changes */
.nav-tabs > li > a {
  color: #00AA00;
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #AAFFAA;
  cursor: default;
  background-color: grey;
  border: 1px solid #ddd;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: green;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: green;
  border-color: green;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: green;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-control:focus {
  border-color: #00FF00;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.select2-results {
  max-height: 680px;
}

#select_season {
  color:black;
}
