a.start_time {
    color: #003300;
    background-color:#CCCCCC;
}

.match_start_time {
    text-align: center;
}

.add_match {
    border-top: 2px dashed white;
    border-bottom: 2px dashed white;
    padding-left: 400px;
    margin: 0 auto;
    float: none;
}

#top_players {
    font-size: 15pt;
    text-align: center;
}

.match {
    padding: 20px;
}

.matches_history_table {
    margin: 0 172px 0 172px;
    border: 1px solid grey;
}

.matches_history_table td {
    min-width: 300px;
    text-align: left;
    padding: 2px 0 0 10px;
    border-right: 1px solid black;
}
