.header_table {
    font-size: 13pt;
}

.match_winner {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.match_players_table {
    padding: 0 25px 25px 25px;
    font-size: 12pt;
    padding-top: 15px;
}

.match_players_table td {
    text-align: center;
}

.match_players_table th {
    text-align: center;
    cursor: default;
}

.match_info_table {
    margin: 20px 0 0 0;
}

.match_info_table td {
    padding: 0 20px 0 20px;
}

.match_info_table thead {
    color: #cccccc;
}

.radiant_table {
    background-color: #263d26;
}

.dire_table {
    background-color: #2e2020;
}

.back {
    background-color: #eaeaea;
    height:100%;
}

.steam_img {
    border: 1px solid white;
}